@import url("./base.css");
@import url("./face.css");


header{
    display: flex;
    justify-content: center;
    height: 60px;
    gap: 20px;
    background-color: var(--dark-gray);
}

form{
    height: 60px;
    background-color: var(--light-gray);
}

input[type="text"]{
    width: 100%;
    height: 100%;
    padding: 0 30px;
    border-radius: 40px;
    background-color: #fff;
    font-size: 30px;
    font-weight: 700;
    border: none;
}