@import url("./base.css");
@import url("./face.css");


header{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 60px;
    gap: 20px;
    padding: 0 20px;
    background-color: var(--dark-gray);
}

header > * {
    flex-shrink: 1;
    min-width: 0;
}
header > select{
 height: 40px;
 padding: 0 10px;
 border-radius: 50px;
 border: none;
 background-color: var(--gray);
 color: #ffff;
}

select:focus{
    outline: none;
}

form{
    height: 60px;
    background-color: var(--light-gray);
}

input[type="text"]{
    width: 100%;
    height: 100%;
    padding: 0 30px;
    border-radius: 40px;
    background-color: #fff;
    font-size: 30px;
    font-weight: 700;
    border: none;
}


@media only screen and (max-width: 600px){
    body{
        padding-bottom: 45px;
        background-color: var(--gray);
    }
}